.wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.wrapper > img {
    padding-top: 80px;
    height: 80px;
}

.welcomeMessage {
    text-align: center;
    font: var(--font_xl_b);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media (max-width: 400px) {
    .formWrapper {
        width: 240px;
    }
    .welcomeMessage {
        font: var(--font_l_b);
    }
    .orLine {
        width: 240px;
    }
}



.formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.formWrapper > p {
    font: var(--font_s);
}

.formWrapper a {
    color: var(--main_primary);
    text-decoration: none;
}

.formWrapper a:hover {
    text-decoration: underline;
}