.div {
    width: 320px;
    display: flex;
    align-items: center;
}

.hr {
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: var(--shades_white_200);
    height: 2px;
}

.label {
    font: var(--font_s);
    padding: 0 4px;
    color: var(--shades_white_200);
}