.timeline {
    width: fit-content;
    height: calc(100vh - 128px);
    padding: 64px;
    align-items: center;
    display: flex;
}

.innerWrapper::before {
    content: 'Date';
    font: var(--font_s);
    color: var(--shades_white_200);
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    transform: translateY(calc(-100% - 16px));
}

.innerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.eventWrapper {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.eventWrapper.active, .eventWrapper:hover {
    opacity: 1;
}

.eventWrapper > div > div {
    opacity: 0;
}

/* Targets the content div in timeline Event */
.eventWrapper.active > div > div {
    opacity: 1;
}