
.wrapper {
    height: 100%;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    top: 0;
}

.wrapper:hover {
    transform: none;
}

.iconsWrapper {
    display: flex;
    gap: 8px;
}

.iconWrapper {
    height: 32px;
    width: 32px;
    padding: 16px;
    background-color: var(--shades_black_150);
    border: 1px solid var(--tints_black_100);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconWrapper:hover {
    cursor: pointer;
    background-color: var(--main_black);
}
