.wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: var(--shades_black_150);
    top: 0;
    margin-left: 40vw;
    z-index: 20;
    pointer-events: all;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    opacity: 0.8;
    justify-content: center;
}

.innerWrapper {
    position: relative;
    height: var(--s_card_height);
    padding: 0px 64px;
    border-radius: 5px;
}

.innerWrapper:hover {
    cursor: pointer;
    background-color: var(--main_black);
}


.innerWrapper:hover > .link , .active .link {
    color: var(--main_white);
}

.modal {
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.link {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font: var(--font_sm);
    color: var(--shades_white_100);
    text-decoration: none;
}

.modal, .link {
    transition: all 0.3s;
}

.left .modal {
    border-radius: 5px 0 0 5px;
}

.right .modal {
    border-radius: 0 5px 5px 0;
}