.input {
    border-radius: 5px;
    overflow-y: hidden;
    color: var(--main_white);
    background-color: var(--shades_black_150);
    border: 2px solid var(--shades_white_100);
    font: var(--font_m);
    padding: 13.25px;
    max-height: 20vh;
    overflow-y: scroll;
}

.input::before {
    content: "Enter link, information or request";
    position: absolute;
    color: var(--shades_white_100);
    pointer-events: none;
}

.input.active::before {
    display: none;
}

.input:focus, .active {
    border-color: var(--main_white);
    outline: none;
}

.input:focus::before {
    color: var(--main_white);
}

.link {
    background-color: var(--tints_black_100);
    padding: 4px;
    border-radius: 5px;
}