.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    pointer-events: none;
}

.messages {
    height: calc(100% - 52px - 32px);
    overflow: scroll;
}

.sideMenu, .inputWrapper, .messages {
    pointer-events: all;
}

.right {
    width: 80vw;
    right: 5vw;
    position: absolute;
    height: 100vh;
}

.inputWrapper {
    bottom: 32px;
    background-color: var(--main_black);
    border-radius: 40px;
    position: absolute;
    width: 100%;
    height: fit-content;
}

.inputInnerWrapper {
    height: 52px;
    padding: 8px 32px;
    position: relative;
    gap: 8px;
    display: flex;
    height: fit-content;
    align-items: flex-end;
}

.longTextInputWrapper {
    width: 100%;
    position: relative;
    height: fit-content;
}

.longTextInput {
    width: calc(100% - 26.5px - 4px);
}

.submitBtn {
    border: none;
    background-color: transparent;
    background-color: var(--tints_black_100);
    height: 52px;
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: var(--main_white);
}

.submitBtn:hover svg path {
    stroke: var(--main_black);
}

.submitBtn svg path, .submitBtn {
    transition: all 0.3s ease;

}

.blurryModal {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
}

.blurryModal.active {
    backdrop-filter: blur(15px);
}