:root {
    /* Color variables */
    --main_primary: #F2045D;
    --main_white: #F7F7F7;
    --main_black: #202123;
    --main_secondary: #02F3DB;

    --shades_white_100: #CCCACB;
    --shades_white_200: #999697;
    --shades_black_100: #1A1A1D;
    --shades_black_150: #101012;
    --shades_black_200: #000000;
    --shades_primary_200: #BF0449;
    --shades_primary_100: #D9004D;

    --mixed_primary_black: #226A63;
    
    --tints_black_50: #252629;
    --tints_black_100: #2F2F2F;
    --tints_black_200: #404040;
    --tints_black_300: #4D4D4D;
    /* Font variables */
    --font_family: 'SF Pro Display', sans-serif;
    --font_s: 12px var(--font_family);
    --font_sm: 14px var(--font_family);
    --font_sm_b: bold 14px var(--font_family);
    --font_m: 18px var(--font_family);
    --font_m_b: bold 18px var(--font_family);
    --font_l: 26px var(--font_family);
    --font_l_b: bold 26px var(--font_family);
    --font_xl_b: bold 36px var(--font_family);
    --font_xxl_b: bold 52px var(--font_family);
    /* Size variables */
    --s_card_height: 52px;
}

* {
    margin: 0;
    padding: 0;
}

input, input:focus {
    border: none;
    outline: none;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: -20;
}