.message {
    border-radius: 10px;
    position: relative;
}

.br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 50vh; /* change this to whatever height you want it */
}