.card {
    border: 1px solid var(--shades_black_200);
    border-radius: 5px;
    width: 318px;
    background-color: var(--main_white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: calc(var(--s_card_height) - 2px);
}

.card:hover .innerWrapper {
    transform: translateY(-100%);
}

.innerWrapper {
    align-items: center;
    display: flex;
    height: calc(100% - 30px);
    padding: 15px 16px;
    transition: all 0.2s ease-out;
}

.lastInnerWrapper {
    position: absolute;
}

.label {
    padding-left: 16px;
    font: var(--font_m_b);
}

.label, .label span {
    color: var(--shades_black_200);
}

.capitalize {
    text-transform: capitalize;
}
