.card {
    border: 1px solid var(--shades_black_200);
    border-radius: 5px;
    width: calc(100% - 34px);
    background-color: var(--main_white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    gap: 16px;
}

.apple, .google {
    height: calc(var(--s_card_height) - 32px);
}

.microsoft {
    height: calc(var(--s_card_height) - 2px);
    width: calc(100% - 2px);
}

.apple, .google, .microsoft > div{
    padding: 15px 16px;
}

.microsoft > div {
    width: 100%;
}
.brandIcon {
    width: 24px;
}

.label {
    font: var(--font_m_b);
}

@media screen and (max-width: 400px) {
    .card {
        gap: 8px;
    }
    .apple, .google {
        width: calc(100% - 18px);
    }

    .apple, .google, .microsoft > div {
        padding: 15px 8px;
    }

    .microsoft > div {
        gap: 8px !important;
    }

    .label {
        font: var(--font_sm_b) !important;
    }
    .chevron {
        display: none;
    }
}

.label, .label span {
    color: var(--shades_black_200);
}

.capitalize {
    text-transform: capitalize;
}

.wrapper {
    position: relative;
}

.underline {
    width: 0;
    border: none;
    height: 2px;
    background-color: var(--main_black);
    position: absolute;
    border-radius: 20px;
}

.card:hover .underline {
    width: 100%;
}

.chevron {
    position: absolute;
    right: 24px;
}

.card:hover .chevron {
    transform: scale(1.5) translateX(6px);
}

.underline {
    margin-top: 2px;
    transition: all 0.3s ease;
}

.card:hover .chevronStem {
    stroke-dashoffset: 20;
}

.microsoft > div {
    display: flex;
    align-items: center;
    gap: 16px;
}