.card {
    border: 1px solid var(--shades_black_200);
    border-radius: 5px;
    width: calc(100% - 34px);
    background-color: var(--main_white);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: calc(var(--s_card_height) - 32px);
    padding: 15px 16px;
    align-items: center;
    display: flex;
    gap: 16px;
}

/* .card:hover {
    background-color: var(--shades_white_100);
} */

.brandIcon {
    width: 24px;
}

.label {
    font: var(--font_m_b);
}

@media screen and (max-width: 400px) {
    .card {
        padding: 15px 8px;
        gap: 8px;
        width: calc(100% - 18px);
    }

    .microsoftCard > div {
        gap: 8px !important;
    }

    .label {
        font: var(--font_sm_b) !important;
    }
    .chevronIcon {
        display: none;
    }
}

.label, .label span {
    color: var(--shades_black_200);
}

.capitalize {
    text-transform: capitalize;
}

.wrapper {
    position: relative;
}

.underline {
    width: 0;
    border: none;
    height: 2px;
    background-color: var(--main_black);
    position: absolute;
    border-radius: 20px;
}

.card:hover .underline {
    width: 100%;
}

.chevronIcon {
    position: absolute;
    right: 24px;
    transform: scale(1.5);
}

.chevronIcon, .chevronIconStem{
    transition: all .2s;
}

.card:hover .chevronIcon {
    transform: scale(1.5) translateX(6px);
}

.underline {
    margin-top: 2px;
    transition: all 0.3s ease;
}

.chevronIconStem  {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
}

.card:hover .chevronIconStem {
    stroke-dashoffset: 20;
}

.microsoftCard > div {
    display: flex;
    align-items: center;
    gap: 16px;
}