.btn {
    background-color: transparent;
    display: flex;
    background-color: var(--tints_black_100);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--shades_white_100);
    aspect-ratio: 1;
    font: var(--font_m_b);
    transition: all 0.2s;
    border: none;
    padding: 12.75px;
    height: var(--s_card_height);

}

.btn path {
    stroke: var(--main_white);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--main_white);
}

.btn:hover path{
    stroke:var(--main_black) !important;
}

.btn, .btn path {
    transition: all 0.3s ease;
}
