.wrapper {
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    width: calc(364px + 240px);
    z-index: 30;
    padding: 64px 24px;
}

.wrapper, .wrapper * {
    pointer-events: none;
}

.wrapper:hover .specificWrapper *, .wrapper:hover .generalWrapper *, .modal {
    pointer-events: all;
}

.modal {
    height: 100%;
    left: 0;
    top: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: all;
    position: absolute;
    background-color: var(--shades_black_150);
    width: 100%;
    transform: translateX(calc(-100% + 56px + 48px));
    border-right: 2px solid var(--tints_black_200);
}

.modal:not(:hover) {
    transition-delay: 0.3s;
}

.wrapper:hover .modal {
    transition-delay: 0;
    transform: translateX(-2px);
}

.wrapper .link span, .wrapper .specificWrapper {
    position: absolute;
}

.wrapper:hover .link span {
    opacity: 1;
}

.innerWrapper {
    overflow-y: scroll;
    display: flex;
    height: calc(100% - 128px);
}

.generalWrapper nav {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 48px;
}

.generalWrapper nav > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.iconWrapper {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

.iconWrapper:first-child {
    background-color: var(--shades_black_150);

}
.linkWrapper {
    position: relative;
}

.link {
    color: var(--main_white);
    font: var(--font_m);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    width: 240px;
    background-color: transparent;
    height: 56px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link.active {
    font: var(--font_m_b);
}

.link span {
    opacity: 0;
    width: 0;
    transition: all 0.3s ease;
    padding-left: 16px;
    left: calc(56px + 32px);
}

.link span {
    transform: translateX(-40px);
}

.wrapper:hover .link span{
    transform: translateX(0);
}

.link svg {
    transition: all 0.3s ease;
}


.specificWrapper {
    width: 300px;
    opacity: 0;
    padding-left: 64px;
    padding-top: 64px;
    right: 32px;
    transition: opacity 0.3s ease 0s;
    height: calc(100vh - 128px);
    overflow: scroll;
}

.wrapper:hover .specificWrapper {
    transition-delay: 0.3s;
    opacity: 1;
}

/* ------------------ */
/* setting the front links styling */
.link:last-child {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    position: absolute;
    color: var(--shades_black_150);
    background-color: var(--main_white);
}

.link:last-child:hover, .link:last-child .iconWrapper{
    opacity: 1;
}

.link:last-child .iconWrapper {
    background-color: var(--main_white);
}
/* Logo styling */
.logo {
    width: 24px;
}
.link:last-child .logoInnerHole {
    fill: var(--shades_black_150);
}
/* New icon styling */
.new {
    stroke-width: 2;
    transition: all 0.3s ease;
}

.new path {
    stroke: var(--main_white);
    stroke-width: 2;
    transition: all 0.3s ease;
}

.link:last-child .new path {
    stroke: var(--shades_black_150);
}

.active .new {
    fill: var(--main_white);
}

.active .new .crossLine {
    stroke: var(--shades_black_150);
}

.active.link:last-child .new path {
    fill: var(--shades_black_150);
}

.active.link:last-child .new .crossLine {
    stroke: var(--main_white);
}

/* Group icon styling */

.group path, .group rect{
    transition: all 0.3s ease;
}
.link:last-child .group path {
    fill: var(--shades_black_150);
}

.active .group rect {
    fill: var(--main_white);
}
.active.link:last-child .group rect {
    fill: var(--shades_black_150);
}
/* Home icon styling */
.home {
    height: min-content;
}
.home path {
    transition: all 0.3s ease;
    fill: var(--shades_black_150);
}
.link.active .home path {
    fill: var(--main_white);
}
.link:last-child .home path {
    stroke: var(--shades_black_150);
    fill: var(--main_white);
}

.active.link:last-child .home path {
    fill: var(--shades_black_150);
}

/* education icon styling */

.education path, .educationHole, .book path, .moreBtn, .moreBtn > div > div > div, .moreBtn > .iconWrapper > div,
.logoInnerHole {
    transition-duration: 0.3;
    transition-timing-function: ease;
    transition-property: all;
}
.link:last-child .education path {
    fill: var(--shades_black_150);
}

.link:last-child path.educationHole {
    fill: var(--main_white);
}

.active .education path {
    fill: var(--main_white);
}

.active.link:last-child .educationHole {
    fill: var(--shades_black_150);
}

/* Book icon styling */

.link:last-child .book path {
    stroke: var(--shades_black_150);
}

.active .book path {
    fill: var(--main_white);
    stroke-width: 0;
}

.active:last-child .book path {
    fill: var(--shades_black_150);
}

/* ------------------ */

.moreBtnWrapper {
    margin-top: auto;
}
.moreBtn {
    border: none;
    padding: 28px 0;
    outline: none;
}

.moreBtn:last-child {
    cursor: pointer;
}

.link:last-child.moreBtn > div > div > div {
    background-color: var(--shades_black_150);
}