.wrapper {
    padding: 0 10vw 0 10vw;
}

.wrapper, .messages {
    pointer-events: none;
}

.fixedWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.threads, .inputWrapper {
    pointer-events: all;
}

.inputWrapper {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: flex-end;
    position: absolute;
    left: 10vw;
    bottom: 32px;
    width: 80vw;
}

.longTextInput {
    width: 60%;
}

.submit_btn {
    width: 250px;
}
