.wrapper, .messages {
    pointer-events: none;
}

.fixedWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sideMenu, .inputWrapper {
    pointer-events: all;
}

.inputWrapper {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: flex-end;
    position: absolute;
    left: 15vw;
    bottom: 32px;
    width: 80vw;
}

.uploadFile {
    width: 18%;
}

.longTextInput {
    width: 60%;
}

.submit_btn {
    width: 22%;
}

.blurryModal {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
}

.blurryModal.active {
    backdrop-filter: blur(15px);
}