.footer {
    color: var(--main_black);
    font: var(--font_s);
    width: 100%;
}

.infoWrapper {
    text-align: center;
}

.a {
    color: var(--main_primary);
    margin: 24px;
}

.a:hover {
    cursor: pointer;
    text-decoration: underline;
}