.wrapper {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.link {
    transition: cubic-bezier(0.23, 1, 0.32, 1) 600ms all;
    overflow: hidden;
    color: var(--main_primary);
}

.wrapper:hover .link {
    text-decoration: underline;
}

.last {
    position: absolute;
    transform: translateY(100%);
}


.wrapper:hover .first {
    transform: translateY(-100%);
}

.wrapper:hover .last {
    transform: translateY(0);
}