.card {
    border: 1px solid var(--shades_white_200);
    border-radius: 5px;
    padding: 0 16px;
    height: calc(var(--s_card_height) - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: calc(100% - 34px);;
    background-color: var(--main_white);
}

.label {
    font: var(--font_m);
    color: var(--shades_white_200);
    transition: all 0.1s ease;
}

.card.active .label, .card:focus-within .label {
    font: var(--font_s);
    margin-top: -34px;
}

.eye {
    align-self: flex-end;
    z-index: 1;
}

.eye:hover {
    cursor: pointer;
    background-color: var(--shades_white_100);
}

.label, .eye {
    position: absolute;
}

.input {
    background-color: transparent;
    font: var(--font_m);
    color: var(--main_black);
    height: 100%;
    position: relative;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--main_black);
}

.input, .input:focus {
    border: none;
    outline: none;
}

.hidden {
    display: none;
}