.cardWrapper {
    border-radius: 5px;
    display: flex;
    background-color: var(--shades_black_150);
    border: 1px solid var(--tints_black_100);
    justify-content: space-between;
    align-items: center;
    font: var(--font_m);
    color: var(--shades_white_100);
    padding: 12px 16px;
    margin-bottom: 4px;
}

.cardWrapper:hover {
    background-color: var(--main_black);
    color: var(--main_white);
    cursor: pointer;
}

.cardWrapper p {
    text-wrap: nowrap;
}

.x {
    padding: 2px;
    border-radius: 3px;
}

.x path {
    stroke: var(--shades_white_100);
}

.x:hover {
    cursor: pointer;
    background-color: var(--tints_black_100);
}

.x:hover path {
    stroke: var(--main_white);
}

.clickable {
    color: var(--main_white);
}

.clickable:hover {
    cursor: default;
    background-color: var(--main_black);
}   