.wrapperWrapper {
    width: 25%;
    align-self: stretch;
    display: flex;
    align-items: stretch;

}

.wrapperWrapper:hover {
    cursor: pointer;
}

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.5;
    border-radius: 5px;
    background-color: var(--shades_black_150);
}

.wrapper {
    border-radius: 5px;
    position: relative;
    transition: all 0.3s;
    padding: 24px;
}

.upper, .lower {
    opacity: 1;
    position: relative;
}

.wrapperWrapper:hover .wrapper{
    transform: translateY(-4px);
}

.text {
    font: var(--font_s);
    color: var(--main_white);
}
