.wrapper {
    padding: 16px;
    border-radius: 5px;
    width: 25%;
    border: 1px solid var(--shades_white_100);
}

.wrapper:hover {
    cursor: pointer;
    border: 1px solid var(--main_black);
}

.question {
    font: var(--font_sm);
    color: var(--main_black);
}