.medium_card {
    color: var(--main_white);
    font: var(--font_m_b);
    position: absolute;
    transition: all 0.3s ease-in;
    left: 15vw;
    transform: translateY(-50%);
    pointer-events: all;
    width: 80vw;
    background-color: transparent;
}

.medium_card:hover {
    transition: all 0.1s;
}

.underlyingImage {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(1.05) scaleY(1.1);
    display: block;
    width: 100%;
    pointer-events: none;

  }

.medium_card:hover .underlyingImage {
    opacity: 0.5;
}

.innerWrapper {
    height: 100%;
    width: calc(100% - 256px - 40px);
    margin: 0 auto;
    padding: 64px 128px;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 5px;
    pointer-events: none;
}

.topImage {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.modal {
    backdrop-filter: blur(20px);
    pointer-events: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(1.3) scaleY(1.4);
}

.children {
    transform-style: preserve-3d;
    transform: perspective(400px);
}