.medium_card {
    color: var(--main_black);
    font: var(--font_m_b);
    border-radius: 5px;
    padding: 64px;
    background-color: var(--main_white);
    position: relative;
    transition: all 0.3s ease-in;
    z-index: -1;
    transform: translateY(-50%) perspective(500px);
    box-shadow: 5px 5px 15px var(--mixed_primary_white);
    pointer-events: all;
}

.medium_card:hover {
    transition: all 0.1s;
}

.medium_card::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main_white);
    z-index: -2;
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }

.medium_card:hover::before {
    opacity: 0;
}
