.circles {
    display: flex;
    gap: 16px;
}

.filledCircle {
    border-radius: 50%;
    background-color: var(--main_primary);
    width: 35px;
    height: 35px;
}

.donut {
    border-radius: 50%;
    background-color: var(--main_white);
    width: 35px;
    height: 35px;
}