.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card > h1 {
    font: var(--font_xxl_b);
}

.randomQuestions {
    display: flex;
    gap: 8px;
    align-items: stretch;
}

.question {
    transform: translateZ(32px);
    transform-style: preserve-3d;
}