.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    height: 300px;
    position: relative;
}

.card > h1 {
    font: var(--font_xxl_b);
}

.randomQuestions {
    display: flex;
    gap: 8px;
}