.submit_btn {
    width: 100%;
    border-radius: 5px;
    font: var(--font_m_b);
    transition: border, color .3s ease;
    border: none;
    height: var(--s_card_height);
}

.submit_btn:hover {
    cursor:pointer;
}

.dark {
    color: var(--shades_white_100);
    transition: all .3s ease;
    background-color: transparent;
}

.dark:hover {
    color: var(--main_black);
    background-color: var(--main_white);
}

.light {
    background-color: var(--main_primary);
    color: var(--main_white);
    height: var(--s_card_height);
}

.light:hover {
    background-color: var(--shades_primary_100);
}