.submit_btn {
    width: 100%;
    border-radius: 5px;
    font: var(--font_m_b);
    transition: all .3s ease;
    height: var(--s_card_height);
    backdrop-filter: blur(5px);
}

.submit_btn:hover {
    cursor:pointer;
}

.dark {
    border: 2px solid var(--shades_white_100);
    color: var(--shades_white_100);
    background-color: transparent;
}

.dark:hover {
    border: 2px solid var(--main_white);
    color: var(--main_white);
}

.light {
    background-color: var(--main_primary);
    color: var(--main_white);
    height: var(--s_card_height);
}

.light:hover {
    box-shadow: 4px 4px 10px var(--mixed_primary_white);
}